img{
    width: 15%;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

main{
    max-width: 600px;
    margin: 0 auto;
}


#next{
    text-align: center;
    color: white;
}

#top{
    text-align: center;
    color: white;
    font-family:'Darker Grotesque';
}

#top:hover{
    color:black;
}

body p{
    text-align:center;
    color: white;

}

ol{
    font-family:'Darker Grotesque';
    width:300px;
    display:table;
    margin: 0 auto;
}

#quote{
    text-align: center;
    color: white;
    max-width: 300px;
    margin: 0 auto;
}

footer p{
    text-align: center;
    color: black;
    max-width: 600px;
    margin: 0 auto;
}

