img{
    width: 25%;
    display: block;
    margin: 0 auto;
}

main{
    max-width: 600px;
    margin: 0 auto;
}



#next{
    text-align: center;
    color: white;
}

#top{
    text-align: center;
    color: white;
}

h1:hover{
    color:black;
}

body p{
    text-align:center;
    color: white;

}

ol{
    width:300px;
    display:table;
    margin: 0 auto;
}


