img{
    width: 25%;
    display: block;
    margin: 0 auto;
}

.top{
    color: white;
}

h1:hover{
    color:black;
}

body p{
    text-align:center;
    color: white;

}

ol{
    width:300px;
    font-weight: bold;
    text-align: center;
}

body h1{
    text-align: center;
    color: "white";
}

