

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
}

.graybox{
    width: 100%;
    background-color: rgb(168, 168, 168);
    z-index: -1;

}

.title{
    z-index: 1;
    grid-column: 1/2;
    font-size: 180px;
    position: absolute;
    top: 20%;
    letter-spacing: 0.15em;

} 

.subtitle{
    font-size: 80px;
    position: absolute;
    top: 65%;
    right: 200px;
    color: #951010;
    letter-spacing: 0.22em;
    text-align: center;

}